#addtodocss {
  min-width: 80px;
}

.inputcss {
  width: 100%;
  height: 100%;
}

#col4 {
  padding-left: 0px;
  margin: 0px;
}
.items_container {
  text-align: left;
  font-weight: 700;
}

.inputdate {
  margin-left: 12px;
  height: 100%;
}
